### IntelliJ IDEA ###
.idea/
*.iml
out/
*.ipr
*.iws

# Plugin IntelliJ
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# Log e build
*.log
*.tmp
*.bak

### Spring Boot ###
# File generati al runtime
*.pid
*.pid.lock

### Sistema operativo ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

### Java ###
*.class
*.jar
*.war
*.ear

### IDE vari ###
# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/
